
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 48px;
}

.Story {
    &__Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 360px;
        cursor: pointer;
        background: #efefef;

        &__dark {
            @extend .Story__Container;
            background: #666;
        }
    }
}